.container{
    padding-left: 475px;
    padding-right: 1px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
}
*{
    padding: 0px;
    margin: 0px;
}
div3>a:hover{
    color: rgb(27, 85, 147);
}
a{
    text-decoration: none;
    color: black;
}
.rest{
    background-color: white;
    margin-top: 37px;
}
body{
    background-image: linear-gradient(#b8def5, #e09ecb, rgb(199, 147, 69));
    height: 775px;
}
.intro>p{
    text-align: center;
    margin-top: 10px;
}
h1{
    margin-top: 60px;
    text-align: center;
    font-size: 37px;
}
div4>p{
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
}
.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    height: 475px;
    margin-left: 50px;
    margin-top: 70px;
    border: solid white;
    border-radius: 25px;
}
div>div>p{
    font-size: 18px;
    width: 700px;
}
.content1>button{
    font-size: 18px;
    width: 200px;
    border-color: black;
    background-color: transparent;
    border-radius: 25px;
}
.content1>button>a:hover{
    background-color: black;
    color: #FFFFFF;
    border-radius: 25px;
}
.content1{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}
.card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 475px;
    margin-left: 30px;
    margin-top: 70px;
    border: solid white;
    border-radius: 25px;
}
.cards{
    display: flex;
    flex-direction: row;
}
.content2>button{
    font-size: 18px;
    width: 100px;
    border-color: black;
    background-color: transparent;
    border-radius: 25px;
}
.content2>button>a:hover{
    background-color: black;
    color: #FFFFFF;
    border-radius: 25px;
}
.content2{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content2>p{
    width: 350px;
    font-size: 18px;
}
.rest1{
    text-align: center;
}
.cloudItems{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 300px;
    margin-top: 10px;
}
.cloudItems>button{
    font-size: 18px;
    background-color: transparent;
    border-radius: 50px;
}
.cloudItems>button>a:hover{
    background-color: black;
    color: #FFFFFF;
    border-radius: 25px;
}
.cardline1{
    display: flex;
    flex-direction: row;
    gap: px;
}
.card1o{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 28%;
    height: 475px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: aqua;
    border-radius: 25px;
}
.con1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.con1>h2{
    margin-top: 30px;
    margin-left: 20px;
}
.con1>p{
    margin-left: 20px;
    width: 350px;
    font-size: 19px;
}
.con1>a{
    margin-left: 20px;
}
.con1>a:hover{
    text-decoration: underline;
}
.card2o{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 28%;
    height: 475px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: red;
    border-radius: 25px;
    color: #FFFFFF;
}
.con2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.con2>h2{
    margin-top: 30px;
    margin-left: 20px;
}
.con2>p{
    margin-left: 20px;
    width: 350px;
    font-size: 19px;
}
.con2>a{
    margin-left: 20px;
    color: #FFFFFF;
}
.con2>a:hover{
    text-decoration: underline;
}
.card3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 28%;
    height: 475px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgb(255, 153, 0);
    border-radius: 25px;
}
.con3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.con3>h2{
    margin-top: 30px;
    margin-left: 20px;
}
.con3>p{
    margin-left: 20px;
    width: 300px;
    font-size: 19px;
}
.con3>a{
    margin-left: 20px;
}
.con3>a:hover{
    text-decoration: underline;
}
.rest>p{
    text-align: center;
    font-size: 17px;
}
.rest>p>a{
    color: blue;
}
.rest>p>a:hover{
    text-decoration: underline;
}
.end{
    background-color: rgb(228, 232, 235);
}
.terms{
    display: flex;
    flex-direction: row;
    gap: 130px;
}
.term1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
.term1>a{
    font-size: 13px;
}
.term1>a:hover{
    color: rgb(0, 157, 255);
}
.term1>h4{
    margin-top: 10px;
}
.term2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.term2>h4{
    margin-top: 10px;
}
.term2>a{
    font-size: 13px;
}
.term2>a:hover{
    color: rgb(0, 157, 255);
}
.term3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.term3>h4{
    margin-top: 10px;
}
.term3>a{
    font-size: 13px;
}
.term3>a:hover{
    color: rgb(0, 157, 255);
}
.term4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.term4>h4{
    margin-top: 10px;
}
.term4>a{
    font-size: 13px;
}
.term4>a:hover{
    color: rgb(0, 157, 255);
}
.term5{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.term5>h4{
    margin-top: 10px;
}
.term5>a{
    font-size: 13px;
}
.term5>a:hover{
    color: rgb(0, 157, 255);
}
.Featured{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.Featured>p{
    margin-left: 410px;
    font-size:medium;
    width: 150px;
}
.Featured>a:hover{
    color: rgb(0, 102, 255);
}
.Featured>a{
    font-size: medium;
    margin-left: 20px;
    margin-right: 20px;
}
.endline{
    display: flex;
    flex-direction: row;
}
.line1{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.line2{
    display: flex;
    flex-direction: row;
}
.line1>a{
    font-size: 13px;
    width: 90px;
}
.line2>a{
    font-size: 13px;
    margin-right: 5px;
}
.copy{
    font-size: 13px;
    width: 230px;
    margin-left: 260px;
}
.f{
    font-size: 13px;
    width: 10px;
}
.line2>a:hover{
    color: rgb(0, 128, 255);
}
button:hover{
    background-color: black;
    color: #FFFFFF;
}